<script type="module" src="{{ base_path }}/assets/js/main.min.js"></script>
<script src="{{ base_path }}/assets/js/lang-toggle.js"></script>
{% if page.permalink == "/" or page.permalink == "/zh/" %}
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
<script src="{{ base_path }}/assets/js/places-map.js"></script>
{% endif %}

{% include analytics.html %}

{% include comments-providers/scripts.html %}
