@charset "UTF-8";
/* CSS Document */
/* Body */

h1,h2,h3{
	text-align:center; color:white; 
}

p {
  text-align:center; color: white;
	font-weight:900;font-size:3.25em;margin-bottom:30px;text-shadow:2px 3px 0px #898999;line-height:1.2;
}